[user]
	name = Luis Saffie
	email = lsaffie@wealthsimple.com
[merge]
    conflictstyle = diff3
[alias]
    gr = log --oneline --graph
[color]
    ui = true
[core]
    autocrlf = input
[credential]
	helper = osxkeychain
