[user]
	name = Luis Saffie
	email = lsaffie@wealthsimple.com
[merge]
    conflictstyle = diff3
[alias]
    gr = log --oneline --graph
    rhh = reset HEAD --hard
[color]
    ui = true
[core]
    autocrlf = input
	excludesfile = /Users/lsaffie/.gitignore_global
[credential]
	helper = osxkeychain
